{% extends 'base.html.twig' %}

{% block title %}About Us
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('home.css')}}">
	<link rel="stylesheet" href="{{asset('about.css')}}">
{% endblock %}

{% block content %}
	<div class="about-section">
		<p>Welcome to Get Your Key for car renting</p>
		<p>So, Do you want a car?
		</p>
		<p>You are in the right place</p>
		<section>
			<ul class="social-nav">
				<li>
					<a class="social-link" target="_blank" href="https://github.com/Hassan-Al-Achek">
						<i class="icon fa-brands fa-github"></i>Github</a>
				</li>
				<li>
					<a class="social-link" target="_blank" href="https://www.instagram.com/1nject3d/">
						<i class="icon fa-brands fa-instagram"></i>Instagram</a>
				</li>
				<li>
					<a class="social-link" target="_blank" href="https://twitter.com/0xh41">
						<i class="icon fa-brands fa-twitter"></i>Twitter</a>
				</li>
			</ul>
		</section>
	</div>
{% endblock %}
