{% extends 'base.html.twig' %}

{% block title %}Get Your Key | Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('home.css')}}">
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="logo">gYk</h2>
		<nav class="main-nav">
			<ul>
				<li>
					<a class="nav-link" href="/">Home</a>
				</li>
				<li>
					<a class="nav-link" href="/cars">Cars Gallery</a>
				</li>
				<li>
					<a class="nav-link" href="/about">About Us</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li>
						<a class="nav-link" href="/profile">View Profile</a>
					</li>
					<li>
						<a class="nav-link" href="/logout">Log Out</a>
					</li>
				{% else %}
					<li>
						<a class="nav-link" href="/login">Log In</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<section class="content">
			<p>Welcome to Get Your Key for car renting</p>
			<p>This Web App powered by symfony + PHP</p>
		</section>
		<aside class="side">Sidebar</aside>
		<div class="ad"><img src="{{ asset("images/") }}" alt="Ads"></div>
		<footer class="main-footer">
			Made by Hassan Al Achek with &hearts; &copy; 2022
		</footer>
	</div>
{% endblock %}
