html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #262833;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #7e8ce0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px #262833;
}

.container .form-title {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.container .form-element {
    position: relative;
}

.container .form-element-agree input {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.container .form-element-agree label {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
}

.container .form-element input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.container .form-element label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


.container .form-element input:focus~label,
.container .form-element input:valid~label {
    top: -20px;
    left: 0;
    color: #ffaf5f;
    font-size: 12px;
}

.container form button {
    border: none;
    background-color: #7e8ce0;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.container button:hover {
    background: #ffaf5f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffaf5f,
        0 0 25px #ffaf5f,
        0 0 50px #ffaf5f,
        0 0 100px #ffaf5f;
}


.container button span {
    position: absolute;
    display: block;
}

.container button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffaf5f);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.container button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffaf5f);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.container button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffaf5f);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.container button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffaf5f);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}