<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="container">
				<h2 class="logo">
					Get Your Key
				</h2>
				<nav class="main-nav">
					<ul>
						<li>
							<a class="nav-link" href="/">
								<i class="fa-solid fa-house"></i>
								Home
							</a>
						</li>
						<li>
							<a class="nav-link" href="/cars">
								<i class="fa-solid fa-images"></i>
								Cars Gallery
							</a>
						</li>
						<li>
							<a class="nav-link" href="/about">
								<i class="fa-solid fa-address-card"></i>
								About Us
							</a>
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li>
								<a class="nav-link" href="/profile">
									<i class="fa-solid fa-id-card-clip"></i>
									View Profile
								</a>
							</li>
							<li>
								<a class="nav-link" href="/logout">
									<i class="fa-solid fa-right-from-bracket"></i>
									Log Out
								</a>
							</li>
						{% else %}
							<li>
								<a class="nav-link" href="/login">
									<i class="fa-solid fa-right-to-bracket"></i>
									Log In
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
				<section class="content">
					{% block content %}
						<p>Welcome to Get Your Key for car renting</p>
						<p>This Web App powered by symfony + PHP</p>
						<img src="{{ asset('images/mainCar.png') }}" class="main-car" alt="Main Car Photo">
					{% endblock %}
				</section>
				<aside class="side">Sidebar</aside>
				<div class="ad"><img src="{{ asset("images/") }}" alt="Ads"></div>
				<footer class="main-footer">
					Made by Hassan Al Achek with &hearts; &copy; 2022
				</footer>
			</div>
		{% endblock %}
	</body>
</html>
